@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* Top-banner */
header {
    background-color: #2D25A0;
}

.banner {
    display: flex;
}

.half-width {
    width: 50%;
}

.banner-title {
    padding: 100px;
}

.banner-title h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: bold;
}

.banner-title a,
.highligts-title a {
    text-decoration: none;
    color: #ffff;
    background-color: #E02C6D;
    padding: 10px 24px;
}

.banner-title a span,
.highligts-title a span {
    margin-left: 8px;
}

.banner-img {
    padding: 100px;
}

.banner-img img {
    transition: transform .5s;
    height: 428px;
    width: 556.01px;
}

.banner-img img:hover {
    transform: scale(1.2, 1.2);
    transition: .5s linear;
}

/* player-section */

.players-section {
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.player {
    background: #FFFFFF;
    padding: 15px 15px 33px 15px;
    width: 315px;
    height: 474px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.player-info {
    display: block;
    margin: auto;
    width: 300px;
}

.player-info img {
    width: 300px;
    height: 256px;
}

.player-info h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 16px 0
}

.player-info p {
    color: #6C6C6C;
    font-weight: normal;
}

/* Highlights-section */

.hightligts {
    display: flex;
}

.highligts-title {
    padding: 100px 30px 150px 150px;
}

.highligts-title h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

.highligts-title p {
    color: #6C6C6C;
    font-weight: normal;
    margin-bottom: 34px;
}


.highligts-cover img {
    padding: 100px;
    width: 567px;
    height: 427px;
}

/* Upcoming Match Section */

.upcoming-match {
    background: #2D25A0;
    color: #ffff;
    padding: 40px;
}

.upcoming-match h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
}

.upcoming-match h3 {
    margin-top: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.match {
    display: flex;
    justify-content: center;
}

.club {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 30%;
}

.vs {
    width: 30%;
}

.club img {
    height: 140px;
    width: 140px;
}

.vs img {
    height: 300px;
    width: 300px;
}

/* Subscribe section */

.subs-title h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
}

.subs-title h3 {
    color: gray;
    text-align: center;
}

.subs-item {
    padding: 2% 33%;
    display: flex;
    justify-content: center;
}

form input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin: 20px;
    border: 1px solid gray;
}

form p {
    text-align: center;
    margin-top: 30px;
}

#subs-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    width: 150px;
    border-radius: 0;
    font-weight: 400;
    font-size: 17px;
    color: black;
    background: none;
    border: 2px solid black;
    cursor: pointer;
}

/* footer */

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 483.87px;
    height: 110px;
}

.social-icon {
    text-align: center;
}

.social-icon a i {
    padding: 10px 10px;
    font-size: 25px;
    color: gray;
    border-radius: 50%;
}
/* Media query-mobile device */
@media only screen and (max-width:688px) {
    body {
        width: 360px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    nav {
        display: none;
    }

    /* top-banner */

    .banner {
        display: flex;
        flex-direction: column;
    }

    .half-width {
        width: 100%;
    }

    .banner-title {
        padding: 16px;
    }

    .banner-title h1 {
        font-size: 36px;
    }

    .banner-img {
        padding: 50px 15px;
    }

    .banner-img img {
        width: 329px;
        height: 259.17px;
    }

    /* player-section */

    .players-section {
        width: 95%;
        margin: 70px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
    }

    .player {
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 315px;
        height: 474px;
    }


    /* Highlights-section */

    .hightligts {
        display: flex;
        flex-direction: column;
    }

    .highligts-title {
        padding: 10px 30px 30px 15px;
    }

    .highligts-title h1 {
        font-size: 30px;
    }

    .highligts-title p {
        width: 330px;
        font-size: 16px;
    }

    .highligts-cover img {
        width: 328px;
        height: 248px;
        padding: 16px;
    }

    /* Upcoming-match Section */

    .upcoming-match {
        margin-top: 47px;
        padding: 10px;
    }

    .upcoming-match h1 {
        font-size: 30px;
    }

    .upcoming-match h3 {
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .match {
        display: flex;
        justify-content: space-between;
        overflow: none;
        margin-bottom: 0;
    }

    .club {
        padding: 0px;
        width: 25%;
    }

    .vs {
        width: 40%;
    }

    .club img {
        height: 80px;
        width: 80px;
    }

    .vs img {
        height: 150px;
        width: 100%;
    }

    /* subsribe-form */

    .subs-title h1 {
        font-size: 30px;
    }

    .subs-title h3 {
        font-size: 16px;
    }

    .subs-item {
        padding: 1% 1%;        
        display: flex;
        justify-content: center;
    }

    form {
        box-shadow: none;        
    }

    form input {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
        margin: 20px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    #subs-btn {
        display: flex;
        justify-items: center;
        padding: 5;
        width: 100px;
        font-size: 15px;
        color: black;
        border: .5px solid gray;
        border-radius: 5px;
    }


    /* Footer */

    footer {
        margin-top: 40px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-logo img {
        width: 300px;
        height: 63px;
    }

    .social-icon {
        text-align: center;
    }


    .social-icon a i {
        padding: 10px 10px;
        font-size: 25px;
        color: rgb(136, 136, 136);
        border-radius: 50%;
    }

}
